* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 228, 196, 0.333);
}
/* navbar */
.whatapplogo img {
  width: 120px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 8%;
  margin: auto;
  position: fixed;
  background-color: #fcf5ebce;
  width: 100%;
  padding: 0px 20px 0px 20px;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.321);
}
.navlist ul {
  display: flex;
  gap: 40px;
  /* padding-top: 20px; */
  align-items: center;
}
.navlist ul li {
  list-style: none;
}
.navlist ul li a {
  text-decoration: none;
  color: #1c1e21;
  font-size: 16px;
  font-weight: 400;
}
.nav-first-child {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-first-child::after {
  position: absolute;
  content: "";
  background-color: rgb(40, 246, 40);
  width: 100%;
  height: 2px;
  bottom: 0%;
  transform: scalex(0);
  transform-origin: left;
}
.nav-first-child:hover:after {
  transform: scalex(1);
  transition: all 0.5s ease-in-out;
}
.slide {
  position: relative;
}
.slide::after {
  position: absolute;
  content: "";
  background-color: rgb(40, 246, 40);
  width: 100%;
  height: 2px;
  bottom: 0%;
  left: 0%;
  transform: scalex(0);
  transform-origin: left;
}
.slide:hover::after {
  transform: scalex(1);
  transition: all 0.5s ease-in-out;
}
.btn {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
  background-color: #25d366;
  border: none;
  border: 1.5px solid black;
  width: 155px;
  cursor: pointer;
  position: relative;
  overflow-y: hidden;
  z-index: 1;
  transition: 1s;
}
.btn:hover {
  transition: 0.4s 0.3s;
  color: white;
}

.btn:hover img {
  transition: 0.4s 0.3s;
  filter: brightness(0) invert(1);
}
.btn::before {
  content: "";
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.5s 0.3s;
  transform: translateX(-160px) translateY(60px);
}
.btn:hover::before {
  transform: translateX(-160px) translateY(-20px);
  opacity: 1;
}
.btn1 {
  margin-top: 60px;
}
.btn img {
  margin-left: 5px;
}

/* hero section */

.hero-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 96%;
  margin: auto;
  align-items: end;
}
.featuredetails {
  background-image: url(./images/MaaBeti.png);
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.hero-section > p {
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  color: #000000be;
  opacity: 0.8;
}
.right {
  width: 70%;
  height: 80%;
  position: relative;
}
.right img:nth-child(1) {
  width: 400px;
  animation: gm 0.5s ease-in-out;
}

@keyframes gm {
  0% {
    transform: translatey(50px);
  }
  100% {
    transform: translatey(0px);
  }
}
.right img:nth-child(2) {
  position: absolute;
  top: 3%;
  right: 47.5%;
  width: 400px;
  animation: heart 1s ease-in-out;
  overflow-y: hidden;
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.right img:nth-child(3) {
  width: 400px;
  animation: chai 1.5s ease-in-out;
}
@keyframes chai {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  60% {
    opacity: 0;
  }

  100% {
    transform: translatey(0px);
  }
}
.right img:nth-child(4) {
  width: 400px;
  animation: voice 2s ease-in-out;
}
@keyframes voice {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
  }
}
.right img:nth-child(5) {
  width: 400px;
  animation: emotionalpic 2.5s ease-in-out;
}
@keyframes emotionalpic {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
  }
}
.right img:nth-child(6) {
  position: absolute;
  top: 73%;
  right: 47.5%;
  width: 400px;
  animation: emotionalemoji 3s ease-in-out;
}
@keyframes emotionalemoji {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.right img:nth-child(7) {
  width: 400px;
  animation: tricchap 3s ease-in-out;
}
@keyframes tricchap {
  0% {
    opacity: 0;
    transform: translatey(50px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
  }
}
.featuredetails .left {
  width: 100%;
}
.featuredetails .leftmsg {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}
.featuredetails .leftmsg h1 {
  font-size: 80px;
  color: white;
  font-weight: 400;
  line-height: 90px;
  overflow-y: hidden;
}
.featuredetails .leftmsg p {
  font-size: 17px;
  color: white;
}

.btn img {
  margin-left: 5px;
}
/* first section */

.firstsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 95%;
  margin-top: 40px;
  overflow: hidden;
}

.firstsection p {
  font-size: 48px;
  text-align: center;
  line-height: 47px;
  font-weight: 400;
  overflow-y: hidden;
  letter-spacing: -1px;
}
.firstsection img {
  width: 65%;
}
/* second section */
.secondsection {
  width: 100%;
  height: 100%;
}
.firstbdy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.secondsection .firstbdy .left {
  width: 30%;
}
.secondsection .firstbdy .right {
  width: 25%;
}
.firstbdy .left h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #1c1e21;
  overflow-y: hidden;
}
.firstbdy .left p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  line-height: 25px;
  color: #1c1e21;
  overflow-y: hidden;
}
.learn-more > img {
  rotate: 180deg;
  margin-left: 10px;
}
.learn-more > span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #1c1e21;
}
.learn-more {
  margin-top: 35px;
  position: relative;
}
.learn-more > span::before {
  content: "";
  background-color: rgb(40, 246, 40);
  width: 82px;
  height: 2px;
  position: absolute;
  bottom: 0%;
}
.firstbdy .right img {
  width: 300px;
  margin-left: 50px;
}
/*****/

.beach {
  position: relative;
}
.beach img:nth-child(2) {
  position: absolute;
  width: 330px;
  top: 150px;
  right: 110px;
}
.right-img img {
  height: 500px;
  width: 500px;
}
.grpmsg {
  position: relative;
}
.grpmsg img:nth-child(2) {
  position: absolute;
  left: 7%;
  top: 16%;
}
/* footer */

.footer-sec1 {
  width: 100%;
  height: 55vh;
  background-color: black;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}
.footer-whatapp-logo > img {
  width: 160px;
  margin-bottom: 40px;
}
.footer-sec-links h3 {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.footer-sec-links ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 45px;
  text-decoration: none;
}
.footer-sec-links ul li a:hover {
  text-decoration: underline;
}
.footer-sec-links ul {
  margin-top: 15px;
}
/* sub-footer */
.sub-footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 55%;
  margin: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.232);
  margin-top: 80px;
}
.sub-footer-container .copyright p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.sub-footer-container .whatsapp-policy p a {
  font-size: 12px;
  font-weight: 400;
  color: #f0f4f9;
  text-decoration: none;
}
.sub-footer-container .sitemap p a {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.sub-footer-container .social-apps {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-apps a {
  display: flex;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  overflow-y: hidden;
  z-index: 1;
}
.social-apps a::before {
  content: "";
  background-color: #25d366;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  z-index: -1;
  opacity: 0;
  transition: 0.8s 0.3s;
  transform: translateX(-100px) translateY(40px);
}
.social-apps a:hover::before {
  transform: translateX(-100px) translateY(-10px);
  opacity: 1;
}
.social-apps a:hover {
  transition: 0.8s 0.3s;
  border: none;
}
.lang-dropdown {
  border: 2px solid white;
  width: 220px;
  height: 55px;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-left: 9px;
  align-items: center;
  border-radius: 30px;
}
select {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  -webkit-appearance: none;
}

.lang-dropdown img {
  filter: brightness(0) invert(1);
  rotate: 90deg;
}
.media2 {
  display: none;
}
.footer-sec2 {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: none;
  }
  .navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fdf5ebd5;
    height: 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
  }
  .media2 {
    display: block;
  }
  .whatapplogo img {
    width: 90px;
  }
  .download-icon img {
    padding: 6px 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #25d366;
  }
  .featuredetails {
    height: 100%;
    width: 94%;
    margin: 0 auto;
    background-position: center;
  }
  .featuredetails .right {
    display: none;
  }
  .btn {
    width: 80%;
  }
  .featuredetails .leftmsg {
    width: 100%;
    margin: 0;
    margin-left: 20px;
  }
  .featuredetails .leftmsg h1 {
    font-size: 43px;
    line-height: 44px;
  }
  .featuredetails .leftmsg p {
    font-size: 16px;
    color: white;
    width: 58%;
  }
  .hero-section {
    padding: 0;
    height: 72vh;
    width: 96%;
    margin-top: 61px;
  }
  .firstsection p {
    font-size: 23px;
    line-height: 20px;
    width: 80%;
  }
  .firstsection .media1 {
    display: none;
  }
  .secondsection .firstbdy {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .secondsection .firstbdy .left {
    width: 100%;
    padding-left: 20px;
  }
  .secondsection .firstbdy .right {
    width: 100%;
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
  }
  .firstbdy .right img {
    width: 200px;
    margin: 0;
  }
  .firstbdy .left h2 {
    font-size: 31px;
    font-weight: 400;
    line-height: 28px;
    color: #1c1e21;
    overflow-y: hidden;
  }
  .firstbdy .left p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    line-height: 19px;
    color: #1c1e21;
    overflow-y: hidden;
  }
  .learn-more > span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #1c1e21;
  }
  .beach img:nth-child(2) {
    position: absolute;
    width: 300px;
    top: 80px;
    right: 10px;
  }
  .footer-sec1 {
    display: none;
  }
  .footer-sec2 {
    display: block;
  }
  .footer-sec2 {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-top .btn {
    margin-bottom: 35px;
  }
  hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(214, 210, 210, 0.29);
  }
  .footer-top .social-apps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  .footer-sec-links {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px 0px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .footer-sec-links ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    text-decoration: none;
  }
  .footer-whatapp-logo > img {
    width: 140px;
    margin: 30px 0px 30px 0px;
    padding-left: 20px;
  }
  .footer-bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .footer-bottom .whatsapp-policy p a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .footer-bottom .whatsapp-policy > p {
    color: white;
    font-size: 12px;
    padding-left: 20px;
  }
  .lang-dropdown {
    width: 55%;
    gap: 45%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fdf5ebd5;
    height: 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
  }
  .media2 {
    display: block;
  }
  .whatapplogo img {
    width: 90px;
  }
  .download-icon img {
    padding: 6px 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #25d366;
  }
  .featuredetails {
    height: 100%;
    width: 94%;
    margin: 0 auto;
    background-position: center;
  }
  .featuredetails .right {
    display: none;
  }
  .btn {
    width: 80%;
  }
  .featuredetails .leftmsg {
    width: 100%;
    margin: 0;
    margin-left: 20px;
  }
  .featuredetails .leftmsg h1 {
    font-size: 43px;
    line-height: 44px;
  }
  .featuredetails .leftmsg p {
    font-size: 16px;
    color: white;
    width: 58%;
  }
  .hero-section {
    padding: 0;
    height: 72vh;
    width: 96%;
    margin-top: 61px;
  }
  .firstsection p {
    font-size: 23px;
    line-height: 20px;
    width: 80%;
  }
  .firstsection .media1 {
    display: none;
  }
  .secondsection .firstbdy {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .secondsection .firstbdy .left {
    width: 100%;
    padding-left: 20px;
  }
  .secondsection .firstbdy .right {
    width: 100%;
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
  }
  .firstbdy .right img {
    width: 200px;
    margin: 0;
  }
  .firstbdy .left h2 {
    font-size: 31px;
    font-weight: 400;
    line-height: 28px;
    color: #1c1e21;
    overflow-y: hidden;
  }
  .firstbdy .left p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    line-height: 19px;
    color: #1c1e21;
    overflow-y: hidden;
  }
  .learn-more > span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #1c1e21;
  }
  .beach img:nth-child(2) {
    position: absolute;
    width: 300px;
    top: 80px;
    right: 10px;
  }
  .footer-sec1 {
    display: none;
  }
  .footer-sec2 {
    display: block;
  }
  .footer-sec2 {
    background-color: black;
    width: 100%;
    height: 100%;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-top .btn {
    margin-bottom: 35px;
  }
  hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(214, 210, 210, 0.29);
  }
  .footer-top .social-apps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  .footer-sec-links {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px 0px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .footer-sec-links ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    text-decoration: none;
  }
  .footer-whatapp-logo > img {
    width: 140px;
    margin: 30px 0px 30px 0px;
    padding-left: 20px;
  }
  .footer-bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .footer-bottom .whatsapp-policy p a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .footer-bottom .whatsapp-policy > p {
    color: white;
    font-size: 12px;
    padding-left: 20px;
  }
  .lang-dropdown {
    width: 55%;
    gap: 45%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
}
