*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100vw;
    height: 100vh;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondDiv{
    display: flex;
    gap: 20px;
    width: 60%;
    height: 50%;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.user-profile-details{
    display: flex;
    justify-content: space-evenly;
    
    
}
.user-profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;

}
.user-bio img{
    width: 70%;
    border-radius: 50%;
}
.user-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user-profile-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.user-profile-data p{
    font-size: 25px;
}