* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
 width: 100vw;
  height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.firstDiv {
  background-color: aquamarine;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  border-radius: 10px;
}
.serach-image {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
#user-input {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
#btn {
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.user-cart{
    background-color:burlywood;
    padding: 20px;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-info img{
    width: 100px;
    border-radius: 50%;
}
.user-item{
    margin-top: 10px;
}
.user-item img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;

}
.user-item p{
    font-size: 23px;
}
.secondDiv{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
}